- render 'cms/public/pages/page_meta'
- breadcrumb(:blog_post, @page)

%section.blog-article
  .inner
    %article
      %h1= @page.name
      = render 'authors', authors: @page.authors
      = render 'date', article: @page
      = format_page @page
      .tags= article_tag_list(@page.tags)

%section.blog-posts.latest-events
  .inner
    %header
      %strong Other posts
    = htmlize '{% blog_posts %}'

= render 'public/shared/hire_us'
