= f.input :override_meta_tags,
  title: 'Override meta tags',
  as: 'Boolean',
  wrapper: :horizontal_boolean,
  input_html: { data: {'readonly-for': 'meta-tags'} }
- Cms::PageMetaForm::META_GROUPS.each do |props|
  - meta_tags_type = props.to_a.join('_')
  - meta_tags = @form.grouped_meta[props]
  = field_set_tag "Meta data as <#{props.to_a.join(', ')}>", class: "meta-tags #{meta_tags_type}" do
    %table.table.open-graph-fields
      %thead
        %tr
          %td
          %td
          %td Destroy
      %tbody
        - meta_tags && meta_tags.each do |meta|
          = f.simple_fields_for :meta, @form.meta_field(meta), index: @form.meta_index do |meta_f|
            %tr
              - props.each do |meta_prop|
                = meta_f.input meta_prop,
                  required: false,
                  label: false,
                  wrapper_tag: :td,
                  input_html: { data: {'readonly-unless': 'meta-tags'} }
              = meta_f.input :_destroy, as: :boolean, label: false, wrapper_tag: :td
        = f.simple_fields_for :meta, @form.meta_field(props), index: @form.meta_index do |meta_f|
          %tr{data: { 'meta-field-template': meta_tags_type }}
            - props.each do |meta_prop|
              = meta_f.input meta_prop,
                required: false,
                label: false,
                wrapper_tag: :td,
                input_html: { data: {'readonly-unless': 'meta-tags' } }
            %td
  %div= button_tag t("admin.pages.forms.button.add_tag.#{meta_tags_type}"),
    class: 'btn btn-default',
    data: { 'meta-field-from': meta_tags_type, 'meta-field-index': @form.meta_index }
  %br
