= field_set_tag 'Open Graph data', class: 'og-data' do
  %table.table.open-graph-fields
    %thead
      %tr
        %td Name
        %td Value
        %td Destroy
    %tbody
      - f.object.meta.each_with_index do |meta, index|
        = f.simple_fields_for :meta, OpenGraph.new(meta), index: index do |meta_f|
          %tr
            = meta_f.input :property, required: false, label: false, wrapper_tag: :td
            = meta_f.input :content, required: false, label: false, wrapper_tag: :td
            = meta_f.input :_destroy, as: :boolean, label: false, wrapper_tag: :td
      = f.simple_fields_for :meta, OpenGraph.new(property: '', content: ''), index: f.object.meta.size do |meta_f|
        %tr
          = meta_f.input :property, required: false, label: false, wrapper_tag: :td
          = meta_f.input :content, required: false, label: false, wrapper_tag: :td
          %td

  = button_tag 'Add tag', class: 'btn btn-default add-og-tag'
