.page-form
  = simple_form_for @form, url: admin_page_path(@page), html: { class: 'form-horizontal page-edit-form' } do |f|
    = hidden_field_tag :form_kind, 'meta'

    = f.input :title, wrapper: :horizontal_input_group do
      = f.input_field :title, class: 'form-control'
      .input-group-addon
        = f.check_box :override_title

    = f.input :name, wrapper: :horizontal_input_group do
      = f.input_field :name, class: 'form-control'
      .input-group-addon
        = f.check_box :override_name

    = f.input :breadcrumb_name, wrapper: :horizontal_input_group do
      = f.input_field :breadcrumb_name, class: 'form-control'
      .input-group-addon
        = f.check_box :override_breadcrumb_name

    = f.input :description
    = f.input :posted_at, as: 'cms/datepicker', format: '%Y-%m-%d'
    = f.input :meta, input_html: {rows: 2}
    = f.input :tags, input_html: {value: f.object.tags.join(', ')}
    = f.input :authors, input_html: {value: f.object.authors.join(', ')}
    = render 'cms/admin/pages/forms/open_graph_fields', f: f
    = f.button :submit
