.page-form
  = simple_form_for [:admin, page], html: { class: 'form-horizontal page-edit-form' }, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes } do |f|
    = f.input :title
    = f.input :description
    = f.input :name
    = f.input :url, as: :string
    = f.input :kind,   collection: f.object.class.kinds,
                       include_blank: false
    = f.input :locale, collection: I18n.available_locales,
                       include_blank: false
    = f.input :posted_at, as: 'cms/datepicker', format: '%Y-%m-%d'
    = f.fields_for :content do |c|
      = c.input :format, collection: c.object.class.formats,
                         include_blank: false
      = c.input :body
      = c.hidden_field   :attachments_cache, value: c.object.attachments_cache, id: 'attachments_cache', autocomplete: 'off'
    = f.fields_for :annotation do |a|
      = a.input :body, label: 'Annotation', input_html: {data: { :'warn-max-size' => 500} }
    = f.input :meta, input_html: {rows: 2}
    = f.input :tags, input_html: {value: f.object.tags.join(', ')}
    = f.input :authors, input_html: {value: f.object.authors.join(', ')}
    = render 'open_graph_fields', f: f
    .page-form-submit
      = f.button :submit
  .files
    = form_for [:admin, ImageAttachment.new], html: { class: 'upload form-vertical', multipart: true, remote: true }, 'data-url' => admin_image_attachments_path do |f|
      .form-group
        .controls
          %span.btn.btn-success.fileinput-button
            %span Add images...
            = f.file_field :image, multiple: true
          = hidden_field_tag 'page_id', page.id
          = hidden_field_tag 'attachments_cache', page.content.attachments_cache
          = f.submit 'Upload Files', class: 'btn send-attachments'
    - if page.content.attachments.any?
      - page.content.attachments.each do |attachment|
        = render 'attachment', attachment: attachment, page: page

      .attachments-notice
        %p Insert into page body images using url below file name
        %p Example for markdown: ![image_name](image_url)
        %p Example for html: &lt;img src='image_url' alt='image_name'&gt;

:javascript
  $(function () {
    $('.upload').fileupload({
      dataType: 'json',
      done: function (e, data) {
        var attachments_cache = $('#attachments_cache');
        attachments_cache.val(attachments_cache.val() + ',' + data.result.id);
        if (data.result.result === undefined ) {
          $('.upload').append(
            "<div id='image_attachment_" + data.result.id + "' class='image-attachment thumbnail'>" +
            "<div class='image-logo'><img src='"+ data.result.pic_path + "' data-url='" + data.result.data_url + "' alt='" + data.result.name + "'>" +
            "</div><div class='info'><div class='file-name'><a href='" + data.result.data_url + "'>" + data.result.name + "</a>" +
            "</div><div class='description'>" + data.result.created_at +
            "\n<a rel='nofollow' data-remote='true' data-method='delete' class='delete' href='#{admin_image_attachments_path}/" + data.result.id +
            "'>Delete</a></div></div></div>"
          );
        }
      },
      add: function (e, data) {
        data.submit();
      },
    });
  });
