%h1
  = t('admin.pages.title')
= link_to t('admin.pages.create_link'), new_admin_page_path, :class=>"btn btn-default"
.btn.btn-link= switch_deleted_link
%section
  .row
    .col-md-8
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th
              %small.muted= Page.human_attribute_name(:url)
            %th.col-md-6
              %small.muted= Page.human_attribute_name(:name)
            %th
              %small.muted= Page.human_attribute_name(:state)
            %th
              %small.muted.pull-right= t "admin.actions"
        %tbody
          - Cms::UrlHelper.group_by_ancestors(@pages).each do |folder, pages|
            = render 'pages_folder', locals: { folder: folder, pages: pages }
