%h1.pages--title= link_to t('admin.pages.title'), admin_pages_path
%span.page-folder-breadcrumbs= folder_breadcrumbs(params[:folder])
%br
= link_to t('admin.pages.create_link'), new_admin_page_path, :class=>"btn btn-default"
.btn.btn-link= switch_deleted_link
%section
  .row
    .col-md-8
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th.pages--url
              %small.muted= Page.human_attribute_name(:url)
            %th.col-md-6.pages--name
              %small.muted= Page.human_attribute_name(:name)
            %th
              %small.muted= Page.human_attribute_name(:state)
            %th
              %small.muted.pull-right= t "admin.actions"
        %tbody
          - pages_as_folders(@pages, params[:folder]).each do |folder, pages|
            = render 'pages_folder', folder: folder, pages: pages, nesting_level: 0, parent_folder: nil
