.image-attachment.thumbnail{id: "image_attachment_#{attachment.id}"}
  .image-logo
    = image_tag attachment.image_url(:thumb), 'data-url' => attachment.image_url
  .info
    .file-name{title: 'image name'}
      = link_to attachment.image_identifier, attachment.image_url
    .description
      = attachment.created_at.strftime("%d %b %H:%M")
      %div= 'Image url: ' + attachment.image_url
      .is_header
        - if attachment.is_main
          %div= 'Header image'
        - else
          = form_for :image_attachment, url: edit_admin_image_attachment_path(attachment.id), html: { class: 'edit', remote: true }, method: :get do |f|
            = f.hidden_field :attachments, value: content.attachments.map(&:id)
            = f.hidden_field :content_id, value: content.id
            = f.submit 'Set as header image', class: 'link-styled-button'
      = form_for [:admin, attachment], html: { class: 'delete', remote: true }, method: :delete do |f|
        = f.hidden_field :content_id, value: content.id
        = f.submit 'Delete', class: 'link-styled-button'
